.container {
  display: inline-grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.05fr 0.05fr 0.05fr 1fr;
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 75px;
  position: fixed;
}
.enterModal {
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-radius: 20px;
  z-index: 1;
  width:100%;
  height: 100%;
  outline: auto;
  position: relative;
}
.animatedModal {
  display: grid;
  grid-row: 4;
  position: absolute;
}

/*
.container div:first-child{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.container div:last-child{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}*/
.mainHomePage {
  position: absolute;
  filter: blur(3px);
  color: white;
  background-color: #0c0d11;
  display: grid;
  grid-template-rows: minmax(100px, 1fr);
  grid-auto-columns: 1fr;
}
.accordionInfo1{
  display: none;
}
.accordionContainer{
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  grid-auto-rows: 1fr;
  background-color: green;
}
.meetTheTeamContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  padding: 20px;
  grid-gap: 40px;
  justify-content: center;
}
.insideOfClubHouse{
  display: grid;
  background-size: 100%;
  

}
.inside{
  max-width: 100%;
  display: grid;
}
.cards {
  display: grid;
  border-radius: 20px;
  justify-content: center;
}
.card {
  position: relative;
  margin: 0 auto;
}
.carousel {
  display: grid;
  max-width: 100%;
  max-height: 100%;
  justify-items: center;
}
.homePageheader {
  display: grid;
  grid-auto-columns: 1fr;
}
.FAQ{
  display: grid;
}
.roadMapContainer {
  display: grid;
}
.roadmap {
  width: 100%;
  padding-right: 10%;
  padding-left: 10%;
}
.banner {
  grid-column: 1/5;
  position: relative;
  grid-row: 1;
  max-width: 100%;
  max-height: 100%;
  z-index: 0;
  display: grid;
}
.twitterBanner{
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.header {
  background-image: url(/twitter_banner.png);
}
.headerLogo {
  width: 30%;
  min-width: 160px;
}
/* .headerLogo {
  width: 30%;
  position: absolute;
  grid-column: 1;
  z-index: 3;
  display: grid;
  padding-left: 5%;

} */
.navGrid {
  display: grid;
  grid-column: 4;
  grid-row: 1;
  width: 100%;
  position: relative;
  grid-template-rows: fit-content(1fr 1fr 1fr);
}
.aboutUs {
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-content: center;
  align-content: center;
}
.abSnakeImage{
  width: 50%;
  display: grid;
  border-radius: 20px;
  position: relative;

}
.aboutText {
  grid-row: 1;
  font-size: 150%;
  display: grid;
  border-radius: 20px;
  justify-content: center;
}
.aboutHeader {
  grid-row: 1;

}
.abHeader {
  position: absolute;
  grid-row: 2;
}
.navIcon {
  width: 30%;
  grid-row: 2;
}
.nav {
  display: grid;
  grid-column: 1;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row: 1;
  z-index: 1;
}
.abHeader {
  grid-row: 2;
}
.homePageBanner {
  grid-row: 1;
  max-width: 100%;
  grid-column: 1;
  position: relative;
  max-height: 150%;
}
.homePageLogo {
  max-width: 76%;
  padding-left: 10px;
  grid-row: 1;
  z-index: 1;
  grid-column: 1;
}
.navBarIconWrapper {
  display: grid;
  grid-row: 2;
  grid-column: 2;
}
.navBarIcon {
  width: 100%;
  grid-row: 3;
}
.modalIcons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row: 5;
  justify-items: center;
}
.modalItem1 {
  justify-self: center;
}
.modalItem2 {
  justify-self: center;
}
.modalItem3 {
  justify-self: center;
}
.modalItem4 {
  justify-self: center;
}
.modalIcon1 {
  grid-row: 2;
  width: 30%;
}
.modalIcon2 {
  grid-row: 2;
  width: 30%;
}
.modalIcon3 {
  grid-row: 2;
  grid-column: 2;
  width: 30%;
}

.test {
  grid-row: 3;
}
.logoGrid {
  display: grid;
  grid-column: 2;
  grid-row: 2 / span 3;
}

.icon1 {
  grid-row: 2;
  grid-column: 6;
  justify-self: center;
  animation: fadeIn 4s;
}
.icon2 {
  grid-row: 2;
  justify-self: start;
  grid-column: 6;
  animation: fadeIn 6s;
}
.icon3 {
  grid-row: 2;
  grid-column: 5;
  justify-self: end;
  animation: fadeIn 6s;
}
.logo {
  max-width: 30%;
  grid-row: 1;
  grid-column: 1/2;
  z-index: 1;
  justify-self: center;
  animation: fadeIn 6s;
}
.gridBtn {
  grid-row: 4;
  grid-column: 2;
  z-index: 1;
  grid-template-rows: repeat(5, 1fr);
  display: grid;
}
.btn {
  grid-row: 3/5;
  background-color: transparent;
  color: transparent;
  border: none;
  cursor: pointer;
}
.enterText {
  grid-row: 5;
  grid-column: 1 / span 3;
  font-family: LG;
  font-size: 100%;
  width: 100%;
  letter-spacing: 1px;
  animation: fadeIn 6s;
  position: relative;
  color: white;
  border-radius: 20px;
}

.snake1 {
  width: 100%;
  grid-row: 4;
  grid-column: 1/5;
  position: relative;
  align-self: center;
  padding-left: 10%;
  padding-right: 10%;
  border-radius: 20px;
}
.snake2 {
  width: 100%;
  grid-row: 4;
  grid-column: 1/5;
  position: relative;
  align-self: center;
  padding-left: 10%;
  padding-right: 10%;
  border-radius: 20px;
}
.snake3 {
  width: 100%;
  grid-row: 4;
  grid-column: 1/5;
  position: relative;
  align-self: center;
  padding-left: 10%;
  padding-right: 10%;
  border-radius: 20px;
}
.clubImage {
  max-width: 100%;
  object-fit: cover;
  max-height: 100%;
  position: relative;
  outline-color: greenyellow;
  grid-column: 1 / 4;
  grid-row: 4;
  justify-self: stretch;
  animation: fadeIn 6s;
  opacity: 0;
}
.imageGrid {
  display: grid;
  grid-template-columns: (1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr);
  grid-template-rows: 1fr;
  grid-row: 3;
  grid-column: 3;
  grid-gap: 0.5em;
}
.welcomeHeader {
  display: grid;
  justify-items: center;
}
.welcomeDescription {
  display: grid;
  justify-items: center;
}
@media screen and (max-width: 667px) {
  .enterText {
    font-size: 50%;
  }
  .container {
    margin-left: 10%;
    margin-right: 10%;
  }
  .logo {
    max-width: 60%;
    padding-top: 10px;
  }
  .icon1 {
    grid-column: 3;
  }
  .icon2 {
    grid-column: 4;
    justify-self: center;
  }
  .icon3 {
    justify-self: start;
  }
}
.fadeOut {
  animation: testFadeOut 2s;
}
@keyframes testFadeOut {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}
