.container {
  margin: 0;
  padding: 0;
  display: inline-grid;
  grid-template-columns: 1fr ;
  grid-template-rows: .05fr .05fr 0.05fr 1fr .01fr;
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 75px;
  border-radius: 20px;
  
  
}
.test{
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-radius: 20px;
}
/*
.container div:first-child{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.container div:last-child{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}*/
.mainHomePage{
  position:absolute;
  filter: blur(3px);
  background-color: black;
  color:white;

}

.test{
  grid-row:3;
}
.logoGrid{
  display: grid;
  grid-column:  2;
  grid-row: 2/span 3;
}

.icon1{
  grid-row: 2;
  grid-column: 6;
  justify-self: center;
  animation: fadeIn 4s;
}
.icon2{
  grid-row: 2;
  justify-self: start;
  grid-column: 6;
  animation: fadeIn 6s;
}
.icon3{
  grid-row: 2;
  grid-column: 5;
  justify-self: end;
  animation: fadeIn 6s;
}
.logo{
  max-width: 30%;
  grid-row: 1;
  grid-column: 1/2;
  z-index: 1;
  justify-self: center;
  animation: fadeIn 6s;
}
.gridBtn{
  grid-row: 4;
  grid-column: 2;
  z-index: 1;
  grid-template-rows: repeat(5, 1fr);
  display: grid;
}
.btn{
  grid-row:3/5;
  background-color: transparent;
  color: transparent;
  border: none;
  cursor: pointer;
}
.enterText{
  grid-row: 5;
  grid-column: 1/span 3;
  font-family: LG;
  font-size: 100%;
  width: 100%;
  letter-spacing: 1px;
  animation: fadeIn 6s;
  background-color: black;
  position: relative;
  color: white;
  border-radius: 20px;



}
.clubImage{
  max-width: 100%;
  object-fit: cover;
  max-height: 100%;
  position: relative;
  outline-color: greenyellow;
  grid-column: 1 / 4;
  grid-row: 4;
  justify-self: stretch;
  animation: fadeIn 6s;


 

}
.imageGrid{
  display: grid;
  grid-template-columns: (1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr);
  grid-template-rows: 1fr;
  grid-row: 3;
  grid-column: 3;
  grid-gap: .5em;

}
.welcomeHeader{
  display: grid;
  justify-items: center ;
}
.welcomeDescription{
  display: grid;
  justify-items: center;
}
@media screen and (max-width: 667px) {
  .enterText{
    font-size: 50%;
  }
  .container{
    margin-left: 10%;
    margin-right: 10%;
  }
  .logo{
    max-width: 60%;
    padding-top: 10px;
}
}
.fadeOut{
  animation: testFadeOut 2s;
}  
@keyframes testFadeOut {
  from{
    opacity: 100%;
  }
  to{
    opacity: 0%;
  }

}