.container{
    display: grid;
    grid-template-columns: repeat(12, minmax(200px, 1fr));
    grid-template-rows: repeat(4, minmax(200px, 1fr));
    grid-template-areas: ". . . . . . . . . . . ."
                         ". H H H H H H H H H H ."
                         ". H H H H H H H H H H ."
                         ". . . . . . . . . . . .";

}
.clubImage{
    grid-area: H;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

}